/* --------------service服務項目-------------- */

.service_block {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px 30px;
  justify-items: center;
}

.service_block .service_7 {
  grid-column-start: 2;
}

.service_img p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  text-decoration-line: underline;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 175px;
  box-sizing: border-box;
  line-height: 175px !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.introduce_icon a:hover{
  color: #fff;

}
.introduce_icon a{
  color: #fff;

}

.service_img p:hover {
  -webkit-animation: growshadow 0.5s forwards;
  -o-animation: growshadow 0.5s forwards;
  animation: growshadow 0.5s forwards;
  margin-top: -20px;
}
.service_img p {
  transition: margin-top 0.8s ease; /* 設定過渡屬性，0.5秒的持續時間，使用緩和（ease）的過渡函數 */
}

.service_1 p {
  background-image: url(../image/service_1.webp);
}
.service_2 p {
  background-image: url(../image/service_2.webp);
}
.service_3 p {
  background-image: url(../image/service_3.webp);
}
.service_4 p {
  background-image: url(../image/service_4.webp);
}
.service_5 p {
  background-image: url(../image/service_5.webp);
}
.service_6 p {
  background-image: url(../image/service_6.webp);
}
.service_7 p {
  background-image: url(../image/service_7.webp);
}

@media (max-width: 1200px) {
  .service_img p {
    width: 280px;
    height: 140px;
    line-height: 140px !important;
  }
}
@media (max-width: 991px) {
  .service_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .service_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 30px 30px
  }
  .banner img {
    content: url(../image/index_banner_mobile.webp);
  }
  
}
@media (max-width: 576px) {
}
