/* --------------service服務項目-------------- */

.service_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 80px 30px;
}

.service_img p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  text-decoration-line: underline;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 175px;
  box-sizing: border-box;
  line-height: 175px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.service_img p:hover {
  -webkit-animation: growshadow 0.5s forwards;
  -o-animation: growshadow 0.5s forwards;
  animation: growshadow 0.5s forwards;
  margin-top: -20px;
}
.service_img p {
  transition: margin-top 0.8s ease; /* 設定過渡屬性，0.5秒的持續時間，使用緩和（ease）的過渡函數 */
}

.service_1 p {
  background-image: url(/image/service_1.webp);
}
.service_2 p {
  background-image: url(/image/service_2.webp);
}
.service_3 p {
  background-image: url(/image/service_3.webp);
}
.service_4 p {
  background-image: url(/image/service_4.webp);
}
.service_5 p {
  background-image: url(/image/service_5.webp);
}
.service_6 p {
  background-image: url(/image/service_6.webp);
}
.service_7 p {
  background-image: url(/image/service_7.webp);
}

@media (max-width: 576px) {
  .banner img {
    content: url(../image/index_banner_mobile.webp);
  }
}
