body {
  font-family: "Noto Sans TC", "Montserrat", sans-serif, Verdana;
  letter-spacing: 2px;
  background: #f2f2f2;
  line-height: 1.5;
  color: #383838;
}

header {
  background-color: #ffffff;
  /* padding: 0 20px; */
}

section {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 30px 30px;
  margin-top: 50px;
}
nav {
  max-width: 1420px;
  margin: auto;
}
.nav-link {
  color: #212529;
}

.nav-link:focus,
.nav-link:hover {
  color: #004a2f;
}

a {
  color: #212529;
  text-decoration: none;
}

/* --------------導覽列-------------- */
.offcanvas {
  display: none;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #004a2f;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}

.header_media_icon {
  display: flex;
  gap: 10px;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  gap: 40px;
}

.mobile_order {
  display: none;
}

/* img {
    width: 100%;
    height: auto;
} */

/* --------------共用css-------------- */
.ch_banner{
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.block_title {
  margin-bottom: 30px;
}
.p_zh::before,
.p_zh::after {
  content: "";
  display: inline-block;
  width: 60px;
  border-top: 2px solid #383838;
  margin: 0 10px;
  margin-bottom: 3px;
}

.p_zh {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.p_en {
  font-size: 25px;
  text-align: center;
}

/* --------------index_icon介紹-------------- */
.introduce_block {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  gap: 30px;
  flex-wrap: wrap;
}
.introduce_icon {
  background-color: #004a2f;
  width: 280px;
  padding: 40px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.introduce_icon p {
  color: #fff;
}

.introduce_icon p:nth-child(1) {
  font-size: 20px;
}
.introduce_icon p:nth-child(2) {
  font-size: 16px;
}

/* --------------about公司簡介-------------- */

.about_block {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about_content_left,
.about_content_right {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 520px;
}

.about_title span {
  padding: 3px 10px;
  border: solid 2px #004a2f;
  position: absolute;
  bottom: -10px;
  left: 90px;
}
.about_title {
  position: relative;
}

.about_title img {
  display: block; /* 讓圖片以區塊元素方式顯示 */
}

.orange_text {
  color: #ed8f25;
  font-size: 20px;
  font-weight: 700;
}

@keyframes growshadow {
  0% {
    /* 初始狀態的樣式 */
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
  }
  100% {
    box-shadow: 0 0 300px rgba(0, 0, 0, 1) inset;
    /* 結束狀態的樣式 */
  }
}

/* --------------case知名案例-------------- */

.btn-close {
  background: url(../image/btn_close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-header {
  background: #004a2f;
  color: #fff;
}

.open_btn {
  background: #d1d1d1;
  padding: 5px 15px;
  color: #383838;
  width: 100%;
  border-radius: 0;
  border: none;
  text-align: center;
}

.open_btn:hover {
  background: #004a2f;
  color: #ffffff;
}

.case_block ul {
  display: grid;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 30px;
}

.case_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 30px;
  text-align: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  text-align: start;
}

/* --------------跑馬燈-------------- */
.test {
  overflow: hidden;
}
.logo-wall {
  display: flex;
}

.logo-wall .logo-wrapper {
  display: flex;
  animation: scroll 40s linear infinite;
}

.logo-wall .logo-wrapper:nth-child(2) {
  animation: scroll2 40s linear infinite;
  animation-delay: -20s;
}

.logo-wall .logo-wrapper .logo {
  width: 200px;
  height: 150px;
  margin: 0 10px;
  border-radius: 50%;
  /* background: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

footer {
  background: #004a2f;
  color: #fff;
  padding: 30px 20px;
  margin-top: 50px;
}

footer a {
  color: #fff;
}
footer a:hover {
  color: #ed8f25;
}

.footer_block {
  display: flex;
  max-width: 1020px;
  justify-content: space-between;

  gap: 10px;
  margin-top: 0;
  padding: 0;
}

.footer_logo img {
  margin-bottom: 10px;
}

.footer_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_icon {
  display: flex;
  gap: 10px;
}

@media (max-width: 1400px) {
  .header_logo {
    width: 200px;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .header_logo {
    width: 150px;
    height: auto;
  }

  .ch_banner {
    height: 300px;
  }
}
@media (max-width: 991px) {
  .offcanvas {
    width: 90%;
    display: block;
    max-width: 400px;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../image/btn_nav.svg);
  }
  .navbar-light .navbar-toggler {
    border: none;
  }
  .offcanvas-header {
    background-color: #004a2f;
    height: 61px;
  }
  .mobile_right {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .mobile_order {
    display: block;
    background: #004a2f;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    padding: 5;
    padding: 0px 10px;
  }

  .offcanvas-body {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header_media_icon {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .nav-link.active {
    color: #004a2f;
    font-weight: 700;
  }

  /* 公司理念 */
  .about_text {
    max-width: 400px;
  }
  /* 知名案例 */
  .case_block ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .ch_banner{
    height: 200px;
  }

.case_block ul {
  grid-template-columns: 1fr;
}

.about_content_left {
  flex-direction: column-reverse;
}
.about_content_right {
  flex-direction: column;
}

.footer_block {
  gap: 20px;

  flex-direction: column;
  align-items: center;
}
}

@media (max-width: 576px) {
  .header_logo {
    width: 120px;
    height: auto;
  }
  .offcanvas-header {
    height: 56px;
  }
  .orange_text {
    font-size: 18px;
  }
  .mobile_order {
    padding: 0px 5px;
    font-size: 10px;
  }

  footer {
    font-size: 14px;
  }
  .footer_block {
    align-items: flex-start;
}
}

@media (max-width: 373px) {
  .mobile_order {
    font-size: 11px;
  }
}
